<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>{% block title %}VVm Agro{% endblock %}</title>
        <link rel="icon" type="image/jpg" href="{% static 'vvmlogo.jpg' %}">

    <style>

    </style>
</head>
<body>
    {% include 'includes/header.html' %}
    
    <div class="layout">
      
        
        {% block content %}{% endblock %}
    </div>
    {% include 'includes/footer.html' %}

</body>
</html>