<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VVM Agro{% endblock %}</title>
    <link rel="icon" type="image/jpg" href="{% static 'vvmlogo.jpg' %}">

    <style>

    </style>
</head>
<body>
    {% include 'includes/header.html' %}
    
    <div class="layout">
        {% include 'includes/sidebar.html' %}
        
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>