
{% block content %}
<div class="container mt-4">
    <h2>Transaction List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Voucher Number</th>
                <th>Date</th>
                <th>Type</th>
                <th>Party</th>
                <th>Ref. Voucher</th>
                <th>Amount</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.transaction_voucher_number }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.get_transaction_voucher_type_display }}</td>
                <td>
                    {% if transaction.party %}
                        {{ transaction.party.name }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{{transaction.voucher}}</td>
                <td>{{ transaction.amount }}</td>
                <td>
 <a href="{% url 'transaction_detail' transaction.pk %}" class="btn btn-sm btn-info">View</a>                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No transactions found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <a href="{% url 'select_transaction_type' %}" class="btn btn-success">Create New Transaction</a>
    </div>
</div>
{% endblock %}